on: push

jobs:
  tofu-plan-apply:
    name: Tofu Plan and Apply
    runs-on: ubuntu-latest
    steps:
      - name: Setup OpenTofu
        uses: opentofu/setup-opentofu@v1.0.6
      - name: Tofu Plan
        run: tofu plan -detailed-exitcode -no-color -out tfplan
      - name: Tofu Apply
        run: tofu apply -auto-approve tfplan
