on:
  - push
  - workflow_dispatch

env:
  ACTIONS_STEP_DEBUG: true

jobs:
  tofu-plan-apply:
    name: Tofu Plan and Apply
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup OpenTofu
        uses: opentofu/setup-opentofu@3d18cc4a77be491c5cd70cf452cb57f98c893853
        with:
          cache: true
          tofu_wrapper: false
      - name: Tofu Init
        run: tofu init
      - name: Tofu Plan
        id: plan
        run: tofu plan
      - run: echo "${{ steps.plan.outputs.stdout }}"
      - run: echo "${{ steps.plan.outputs.stderr }}"
      - run: echo "${{ steps.plan.outputs.exitcode }}"
      - name: Tofu Apply
        run: tofu apply -auto-approve
