on: push

jobs:
  tofu-plan-apply:
    name: Tofu Plan and Apply
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup OpenTofu
        uses: opentofu/setup-opentofu@ve95ccdd20623115bfd7d47df14a3250d6066a9d0
        with:
          tofu_wrapper: true
      - name: Tofu Init
        run: tofu init
      - name: Tofu Plan
        run: tofu plan -no-color -out tfplan --
      - name: Tofu Apply
        run: tofu apply -auto-approve
